@{
    ViewData["Title"] = "Contact";
}

<div class="jumbotron hero-contact">
    <h1 class="display-4">Contacto</h1>
    <br /><br /><br />
</div>

<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Teléfono</h5>
            <p class="card-text">+593 987 654 321</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Dirección</h5>
            <p class="card-text">Quito, Ecuador</p>
            <p class="card-text">Av. de los Granados y Colimes</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Horario de atención</h5>
            <p class="card-text">Lunes a Sábado de 10am a 8pm</p>
        </div>
    </div>
</div>